/*
  Stylesheet for CSE 154 course website
*/

/****************************** Global Styles *********************************/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  color: #252629;
  background-color: #F6F6F6;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 80px;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

a {
  /* color: black; */
  text-decoration: none;
}

code {
  color: #c7254e;
  background-color: #f7f7f9;
  border-radius: 3px;
  padding: 0.25em;
}

/***** Navigation Bar *****/
header {
  background-color: #FEFEFE;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

header h1 {
  font-size: 16pt;
  margin-right: 30px;
  margin-left: 15px;
  color: black;
}

/*
  Animating Underline in Navigation Bar
  Credit: http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
header > a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

header > a:hover {
  color: #000;
  text-decoration: none;
}

header > a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7063EC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header > a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7063EC;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#mobile-dropdown-icon, #mobile-x-icon {
  display: none;
}

#mobile-dropdown-icon:hover, #mobile-x-icon:hover {
  cursor: pointer;
}

/* Addresses fixed website header overlapping with in-page anchors */
:target::before {
  content: "";
  display: block;
  height: 4.2em; /* fixed header height */
  margin-top: -4.2em; /* negative fixed header height */
  visibility: hidden;
}

/***** Footer *****/
footer {
  padding: 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#footer-items-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

footer img {
  transform-origin: left top;
}

footer a {
  text-decoration: underline;
  color: #0076ff;
  margin-top: 5px;
  margin-right: 0;
}

/* Changes to CSS when the screen is less than 1100 pixels wide */
@media screen and (max-width: 1100px) {
  /* This CSS hides all navigation bar links except the course title */
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  #mobile-dropdown-icon {
    display: block;
  }

  #mobile-dropdown-icon, #mobile-x-icon {
    position: absolute;
    right: 0;
    top: 1.25em;
    margin-right: 1.6em;
  }

  .navbar.responsive-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar.responsive-nav #mobile-dropdown-icon {
    display: none;
  }

  .navbar.responsive-nav #mobile-x-icon {
    display: block;
  }

  .navbar.responsive-nav a:first-child {
    position: absolute;
    left: 0;
    top: 1.13em;
  }

  .navbar.responsive-nav a:nth-child(2) {
    margin-top: 2em;
  }

  .navbar.responsive-nav a {
    float: none;
    display: block;
    align-items: flex-start;
    margin-bottom: 0.5em;
  }

  .staff-card {
    margin: 5px auto 20px auto;
  }
}

/* Changes to CSS when the screen is less than 650 pixels wide */
@media screen and (max-width: 650px) {
  header > a {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }

  p, a, li {
    font-size: 1em;
  }
}

/********************************* Animations *********************************/
/* ----------------------------------------------
 * Generated by Animista on 2018-12-26 0:35:38
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-top1 {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top2 {
	-webkit-animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top3 {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top4 {
	-webkit-animation: slide-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}


.slide-right-focus-in {
	-webkit-animation: slide-right-focus-in 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-focus-in 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 0.3s;
}

@-webkit-keyframes slide-right-focus-in {
  0% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes slide-right-focus-in {
  0% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation-delay: 0.3s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
