<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} Code Quality Guide</title>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/style/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/theme.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/coursewebsite.css">

	<script type="text/javascript" src="{{ site.baseurl }}/scripts/navbar.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/scripts/smoothscroll.js"></script>
</head>
